@{
    ViewData["Title"] = "Design Information";
}
<h1>@ViewData["Title"]</h1>

<p>Throughout this page, I have outlined some of the reasons behind my design decisions for this Image Upload web application.</p>

<h3>
    .NET Core MVC
</h3>
<p>Applications developed and produced using .NET Core are accessible throughout various platforms; Windows, OSX, Linux, Android, IOS, etc... I chose the MVC (Model-View-Controller) architecture due to the simple requirements of the project while considering how common and well-known it is. Using MVC allows for easy expansion and maintainability in the future.</p>

<h4>
    Database
</h4>
I would likely connect to a Database Table via MS-SQL Server Management Studio.

